<html>
<body>
  <h1>Listagem de serviços</h1>
  <ul>
  <li><%= link_to :empresas %></li>
  <li><%= link_to :estoques %></li>
  <li><%= link_to :medicamentos %></li>
  <li><%= link_to :substancias %></li>
  <li><%= link_to :secretarias %></li>
  <li><%= link_to :medicos %></li>
  <li><%= link_to :receitas %></li>
  <li><%= link_to :pacientes %></li>
  <li><%= link_to :farmaceuticos %></li>
  </ul>
</body>
</html>
