<p id="notice"><%= notice %></p>

<p>
  <strong>Nu registro:</strong>
  <%= @medicamento.NU_REGISTRO %>
</p>

<p>
  <strong>Co ggrem:</strong>
  <%= @medicamento.CO_GGREM %>
</p>

<p>
  <strong>Co ean:</strong>
  <%= @medicamento.CO_EAN %>
</p>

<p>
  <strong>No produto:</strong>
  <%= @medicamento.NO_PRODUTO %>
</p>

<p>
  <strong>Tp produto:</strong>
  <%= @medicamento.TP_PRODUTO %>
</p>

<p>
  <strong>Tp lcct:</strong>
  <%= @medicamento.TP_LCCT %>
</p>

<p>
  <strong>St rest hosp:</strong>
  <%= @medicamento.ST_REST_HOSP %>
</p>

<p>
  <strong>St cap:</strong>
  <%= @medicamento.ST_CAP %>
</p>

<p>
  <strong>St confaz87:</strong>
  <%= @medicamento.ST_CONFAZ87 %>
</p>

<p>
  <strong>Nu pf0 inteiro:</strong>
  <%= @medicamento.NU_PF0_INTEIRO %>
</p>

<p>
  <strong>Nu pf18 inteiro:</strong>
  <%= @medicamento.NU_PF18_INTEIRO %>
</p>

<%= link_to 'Edit', edit_medicamento_path(@medicamento) %> |
<%= link_to 'Back', medicamentos_path %>
