<p id="notice"><%= notice %></p>

<p>
  <strong>Ds cas:</strong>
  <%= @substancia.DS_CAS %>
</p>

<p>
  <strong>Ds substancia:</strong>
  <%= @substancia.DS_SUBSTANCIA %>
</p>

<%= link_to 'Edit', edit_substancia_path(@substancia) %> |
<%= link_to 'Back', substancias_path %>
