<!DOCTYPE html>
<html>
  <head>
    <title>NuvemApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
  <li><%= link_to "medicamentos", medicamentos_path %></li>
  <li><%= link_to "substancias", substancias_path %></li>
  <li><%= link_to "empresas", empresas_path %></li>
  <li><%= link_to "medicos", medicos_path %></li>
  <li><%= link_to "farmaceuticos", farmaceuticos_path %></li>
  <li><%= link_to "pacientes", pacientes_path %></li>
  <li><%= link_to "receitas", receitas_path %></li>
  <li><%= link_to "secretarias", secretarias_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
